<!DOCTYPE html>
<html lang="es">
  <head>
    <meta property="og:title" content="ArronaGrid - Estilos Base"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Libreria sass para la maquetacion de sitios web"/>
    <meta property="og:url" content="/Base.html"/>
    <meta property="og:image" content="/Img/ArronaGrid.svg"/>
    <meta property="og:site_name" content="ArronaGrid"/>
    <meta property="og:locale" content="es_MX"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content="ArronaGrid - Estilos Base"/>
    <meta property="twitter:site" content=""/>
    <meta property="twitter:description" content="Libreria sass para la maquetacion de sitios web"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <base href="http://localhost:3000/"/>
    <link rel="stylesheet" href="css/Style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="Img/ArronaGrid.ico" sizes="any"/>
    <title>ArronaGrid - Estilos Base</title>
  </head>
</html>
<body>
  <header class="header">
    <input class="header-btnMenu" id="btnMenu" type="checkbox" name="btnMenu"/>
    <label class="header-btnMenu-label" for="btnMenu"><img class="header-btnMenu-label-icon header-btnMenu-label-icon-menu" src="Img/Menu.svg" alt=""/><img class="header-btnMenu-label-icon header-btnMenu-label-icon-cross" src="Img/Cross.svg" alt=""/></label><a class="header-logo" href="Index.html"><img src="Img/ArronaGrid.svg" alt=""/>
      <h1>ArronaGrid</h1></a>
    <nav class="header-menu">
      <ul>
        <li class="header-menu-items"><a href="Index.html">Home</a></li>
        <li class="header-menu-items"><a href="Views/Documentacion.html">Documentacion</a></li>
        <li class="header-menu-items"><a href="Views/Changelog.html">Changelog</a></li>
        <li class="header-menu-items"><a href="https://twitter.com/ArronaMontoya">Twitter</a></li>
        <li class="header-menu-items"><a href="https://github.com/AndresArronaM/ArronaGrid">Github</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-config">
        <div class="btn-content"><a class="btn btn-nav" href="Views/Personalizacion.html"><img class="btn-nav-arrow" src="Img/Arrow_Left.svg" alt=""/>
            <p class="btn-nav-ocultar">Anterior</p></a><a class="btn btn-nav" href="Views/Documentacion.html"><img class="btn-nav-home" src="Img/Home.svg" alt=""/>
            <p class="btn-nav-ocultar">Volver al menu</p></a><a class="btn btn-nav" href="Views/Breackpoints.html"><img class="btn-nav-arrow" src="Img/Arrow_Right.svg" alt=""/>
            <p class="btn-nav-ocultar">Siguiente</p></a></div>
    <section>
      <header>
        <h2 class="main-config-title">Estilos Base</h2>
      </header>
      <p>Estilos base para normalizar algunos elemntos HTML</p><pre><code class="language-css">*,*:before,*:after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-size-adjust:100%;
    overflow-y: auto;
}

img{
    min-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    &amp;:hover{
        text-decoration: underline;
    }
}
</code></pre>

    </section>
        <div class="btn-content"><a class="btn btn-nav" href="Views/Personalizacion.html"><img class="btn-nav-arrow" src="Img/Arrow_Left.svg" alt=""/>
            <p class="btn-nav-ocultar">Anterior</p></a><a class="btn btn-nav" href="Views/Documentacion.html"><img class="btn-nav-home" src="Img/Home.svg" alt=""/>
            <p class="btn-nav-ocultar">Volver al menu</p></a><a class="btn btn-nav" href="Views/Breackpoints.html"><img class="btn-nav-arrow" src="Img/Arrow_Right.svg" alt=""/>
            <p class="btn-nav-ocultar">Siguiente</p></a></div>
  </main>
  <footer>
    <p class="footer-copyright">ArronaGrid 2018-2019</p>
  </footer>
  <script src="JavaScript/Libreria/prism.js"></script>
</body>