<!DOCTYPE html>
<html lang="es">
  <head>
    <meta property="og:title" content="ArronaGrid - Documentacion"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Libreria sass para la maquetacion de sitios web"/>
    <meta property="og:url" content="/Documentacion.html"/>
    <meta property="og:image" content="/Img/ArronaGrid.svg"/>
    <meta property="og:site_name" content="ArronaGrid"/>
    <meta property="og:locale" content="es_MX"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content="ArronaGrid - Documentacion"/>
    <meta property="twitter:site" content=""/>
    <meta property="twitter:description" content="Libreria sass para la maquetacion de sitios web"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <base href="http://localhost:3000/"/>
    <link rel="stylesheet" href="css/Style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="Img/ArronaGrid.ico" sizes="any"/>
    <title>ArronaGrid - Documentacion</title>
  </head>
</html>
<body class="body-doc">
  <header class="header">
    <input class="header-btnMenu" id="btnMenu" type="checkbox" name="btnMenu"/>
    <label class="header-btnMenu-label" for="btnMenu"><img class="header-btnMenu-label-icon header-btnMenu-label-icon-menu" src="Img/Menu.svg" alt=""/><img class="header-btnMenu-label-icon header-btnMenu-label-icon-cross" src="Img/Cross.svg" alt=""/></label><a class="header-logo" href="Index.html"><img src="Img/ArronaGrid.svg" alt=""/>
      <h1>ArronaGrid</h1></a>
    <nav class="header-menu">
      <ul>
        <li class="header-menu-items"><a href="Index.html">Home</a></li>
        <li class="header-menu-items"><a href="Views/Documentacion.html">Documentacion</a></li>
        <li class="header-menu-items"><a href="Views/Changelog.html">Changelog</a></li>
        <li class="header-menu-items"><a href="https://twitter.com/ArronaMontoya">Twitter</a></li>
        <li class="header-menu-items"><a href="https://github.com/AndresArronaM/ArronaGrid">Github</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-doc">
    <section>
      <header>
        <h2>Documentacion</h2>
      </header>
      <nav>
        <ul>
          <li><a href="Views/Configuracion.html">Configuracion
              <ul>
                <li><a href="Views/Configuracion.html#CSS">Version CSS</a></li>
                <li><a href="Views/Configuracion.html#Sass">Version Sass</a></li>
              </ul></a></li>
          <li><a href="Views/Personalizacion.html">Personalizacion de ArronaGrid</a></li>
          <li><a href="Views/Base.html">Base</a></li>
          <li><a href="Views/Breackpoints.html">Breackpoints
              <ul>
                <li><a href="Views/Breackpoints.html#MF">Mobile First</a></li>
                <li><a href="Views/Breackpoints.html#MQ">Media Querys</a></li>
              </ul></a></li>
          <li><a href="Views/Button.html">Button</a></li>
          <li><a href="Views/Flexbox.html">Flexbox
              <ul>
                <li><a href="Views/Flexbox.html#Direccion">Direccion</a></li>
                <li><a href="Views/Flexbox.html#Wrap">Wrap</a></li>
                <li><a href="Views/Flexbox.html#Aling">Aling</a></li>
              </ul></a></li>
          <li><a href="Views/Grid.html">Grid
              <ul>
                <li><a href="Views/Grid.html#Grid">Grid</a></li>
                <li><a href="Views/Grid.html#Gap">Gap</a></li>
              </ul></a></li>
        </ul>
      </nav>
    </section>
  </main>
  <footer>
    <p class="footer-copyright">ArronaGrid 2018-2019</p>
  </footer>
  <script src="JavaScript/Libreria/prism.js"></script>
</body>